@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

}

* {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    height: 100vh;
    background-color: var(--dark-blue);
    display: grid;
    place-items: center;
}

.card {
    background-color: var(--dark-grayish-blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    width: 342px;
}

.title {
    color: var(--neon-green);
    font-size: 12px;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quote {
    color: hsl(193, 38%, 86%);
    font-size: 24px;
}

.divider {
    background-image: url('/images/pattern-divider-mobile.svg');
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    height: 16px;
    background-size: contain;
}


.dice-button {
    background-color: var(--neon-green);
    border: none;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: grid;
    place-items: center;
    margin-inline: auto;
    margin-bottom: -52px;
    transition: .2s ease;
    cursor: pointer;
}

.dice-button:hover {
    box-shadow: 0 0 20px 5px var(--neon-green);
}

@media only screen and (min-width: 1440px) {
    .divider {
        background-image: url('/images/pattern-divider-desktop.svg');
    }

    .card {
        width: 540px;
        padding: 40px;
    }

    .quote {
        font-size: 28px;
    }
}